@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

:root {
  --light-green: #53bc9d;
  --dark-green: #158161;
  --black: #0000;
  --white: #ffffff;
  --black: black;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

video {
  width: 100%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}
#menu {
  background: var(--dark-green);
}

.title {
  padding: 30px;
}

#menu img {
  width: 100px;
  border-radius: 50%;
  margin-top: -20px;
}
.border {
  width: 100px;
  height: 4px;
  margin: 3px 0 30px;
  border-radius: 2px;
  background: var(--dark-green);
}

.menu-item a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 12px 0;
  color: var(--white);
  font-weight: 300;
}
.menu-item a:hover {
  background: var(--light-green);
  color: var(--white);
  border-radius: 10px;
}
#food-items {
  background: var(--white);
  overflow: auto;
  height: calc(100vh - 86px);
  padding: 0px 15px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}
.your-address {
  color: var(--white);
  margin-left: 15%;
  background-color: var(--dark-green);
  padding: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.your-address:hover {
  opacity: 0.8;
}
.address-box i {
  font-size: 20px;
}

.food-items {
  display: none;
}
.cart-toggle {
  display: none;
}
#cart-page{
    background: var(--white);
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;
}
#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

.utilities i {
  font-size: 18px;
  font-weight: 525;
  border: 2px solid var(--dark-green);
  padding: 8px 16px;
  color: var(--dark-green);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 16px;
}
.utilities i:hover {
  color: var(--white);
  background: var(--dark-green);
}
.utilities i:active {
  color: var(--white);
  background: var(--dark-green);
}
/*  */
#cart {
  color: var(--dark-green);
  padding: 30px 10px;
  overflow-y: scroll;
}

.item-menu {
  margin: 0;
  font-size: 28px;
  font-weight: 800;
}

#checkout {
  text-align: center;
  margin: 40px auto;
  border-radius: 20px;
  background: var(--dark-green);
  padding: 10px 20px;
}
#checkout p {
  margin: 15px 0;
}
#total-price,
#total-item {
  font-size: 20px;
  color: var(--white);
}
#delievery {
  font-size: 20px;
  color: var(--white);
}

.cart-button {
  border: 1px solid var(--white);
  background: var(--white);
  color: var(--dark-green);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0;
  cursor: pointer;
}

.cart-button:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

#mobile-view {
  display: none;
}

.list-card {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.list-card:hover {
  background: rgb(255, 216, 222);
}
.list-card:hover img {
  transition: 0.5s all ease-in-out;
  transform: scale(1.2);
}
.list-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.list-name {
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(94, 43, 43);
}
.taste-header {
  padding-top: 40px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: whitesmoke;
}
#biryani,
#paneer,
#chicken,
#vegetable,
#chinese,
#south-indian {
  margin-top: 40px;
}
#paneer #item-card,
#vegetable #item-card {
  background: rgb(218, 253, 188);
}
#chinese #item-card,
#south-indian #item-card {
  background: rgb(221, 243, 243);
}
#category-name {
  margin: 10px;
  font-size: 35px;
  color: coral;
  font-family: "Aclonica", sans-serif;
}
#item-card {
  width: 180px;
  height: 220px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  background: rgb(253, 221, 226);
  cursor: pointer;
  transition: 0.5s all step-end;
}
#item-card:hover img {
  transform: scale(1.2);
}
#card-top {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
#rating {
  padding: 7px;
  color: var(--white);
  background-color:sienna;
  font-size: 14px;
  border-radius: 15px;
}
.toggle-heart {
  background: orangered;
  color: white;
}
#item-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  transition: 0.5s all ease-in-out;
}
#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
}
#item-price{
    margin: 0;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
}